
body{
    background:#222;   
    color:#444 (175, 214, 0);
}



h1, h2, h3, h4, h5, h6{
    text-align: center;
    text-transform: capitalize;
}

p{
    font-family: sans-serif;
}

a{
    color:#66f(255, 255, 255, 0.644);
}

h1 :hover{ 
    color: #eee ;
}

a:visited{
    color:white ;
}
a {
    font-style: italic;
}

a:not([href]){
    font-style: italic;
}

li{
    background-color:rgba(156, 83, 83, 0.582);
}