

body{
    background: hsl(0, 0%, 0%)(0, 0, 0);    
    color: #ee6(200, 214, 0);
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
    text-transform: capitalize;
}


p{
    font-family: sans-serif;
}

a{
    color: #66f(255, 255, 255);
}

h1:hover{ 
    color:#f33;
}

a:visited{
    color: #66f;
}
a {
    font-style: italic;
}

a:not([href]){
    font-style: italic;
}

li{
    background: color #111;;
}